{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <main>
            <h1>{% block header %}{% endblock %}</h1>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <div id="klikz-24"></div>
            <script src="https://klikz.svs.gyarab.cz/hit/24?size=small&front=fff0d0&back=222222"></script>
        </footer>
    </body>
</html>