{% extends "content/base.html" %}

{% block title %}
    {{ style.name|capfirst }}
{% endblock %}

{% block header %}
    {{ style.name|capfirst }}
{% endblock %}

{% block main %}
    <ul>
        {% for line in style.description.splitlines %}
            {% if line %}
                <li>{{ line }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>Stavby</h2>
    <ul>
        {% for building in style.buildings.all %}
            <li>
                <a href="/building/{{ building.id }}">{{ building.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}